/* Mala practica 
    * {
        margin: 0;
        padding: 0;
    } */

body {
    background-color: #333;
    color: #fff;   
    margin: 0 /*es necesario para que tu pagina no traiga margin en el body, por que por default el margin del body en las paginas son de 8px*/;
}
.header {
    background-color: red;
    height: 50px;

}
.title {
    width: 300px;
}
.block {
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}
.inline {
    background-color: lightsalmon;
    color:  inherit;
    width: 200px;
    height: 200px;
}