/*
    Border-radius: Es la propiedad que nos permite redondear
    vertices de forma independiente.
    Es un shorthand que engloba 4 propiedades:
        border-top-left-radius -> radio del borde superior izquierdo
        border-top-right-radius -> radio del borde superior derecho
        border-bottom-right-radius -> radio del borde inferior derecho
        border-bottom-left-radius -> radio del borde inferior izquierdo

    si solo recibe un volor dibujara un circulo en cada vértice 
    del radio que especifiquemos

    border-radius -> 50px ->Circulo de 50px de radio

    Si utilizamos el border-radius como shorthand hay diferencias entre 
    si queremos dar valor a cada lado (circulo) o dos (elipse)

    Con un solo valor:
        -border-radius: 50px -> Circulo de 50px a cada vertice
        -border-radius: 50px 100px -> Circulos de 50px en el vertice superior
        izquierdo y en el inferior derecho y 100px en el superior derecho 
        y el inferior izquierdo
        -border-radius: 50px 100px 200px -> Circulo de 50px en el vertice superior 
        izquierdo , de 100px en el superior derecho y el inferior izquierdo y de 200px
        en el inferior derecho
        -boder-radius: 50px 100px 200px 300px -> Circulo de 50px en el vertice superior izquierdo,
        de 100px superior derecho, 200px en el inferior derecho y de 300px en el inferior izquierdo

    Si le damos 2 valores separados por una barra dibujara un elipse en cada vertice con los 
    en cada vertice de los radios que le especifiquemos.
        -border-radius: 50px / 100px ; -> Elipse con 50px en el radio X y de 100px en el radio Y
*/

*{
    box-sizing: border-box;
}
body{
    background-color: #333;
    color: white;
    margin: 0;
 }
 .box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: lightcyan;
    width: 300px;
    height: 300px;
    border-top-left-radius: 50px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 300px;
 }