/*
    Limitadores al ancho y alto
    Cuando establecemos un width y/o un height con una medida que es relativa, es posible 
    que no queramos que se respete esa medida en todas los casos.
    Para ello tenemos propiedades que limitan esas medidas:
    min-width: Indica el ancho minimo que pueda alcanzar el elemento 
    max-width: Indica el ancho maximo que pueda alcanzar el elemento 
    min-height: Indica el alto minimo que pueda alcanzar el elemento 
    max-height: Indica el alto maximo que pueda alcanzar el elemento 
*/
html{
    height: 300px;
}
body{
    margin: 0;
    background-color: #333;
    color: lightcoral;
}
.box{
    width: 100%;
    max-width: 600px;
    min-width: 300px;/*width es mas el mas comun pero el otro no*/
    height: 60vw;
    max-height: 300px;
    min-height: 100px;
    background-color: lightgreen;
}
